*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: aqua;
    font-size: xx-large;
}

h2{
    color: blueviolet;
    font-style: italic;
}

a{
    font-size: 100px;
    text-decoration: none;
}

table{
    border: 1;
}

img{
    width: 50px;
}

.box{
    border: 1px solid black;
    width: 80px;
    height: 30px;
    margin-top: 10px;
    background-color: lime;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
}

.box1{
    border: 1px solid black;
    width: 80px;
    height: 30px;
    margin: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    padding: 5px 10px ;
}

.container{
    display: flex;
    justify-content: center;
    /* gap: 10px; */
}